* {
    font-family: arial;
}

body {
    background-color: #50646f;
    padding: 0;
    margin: 0;
}

body > .container-fluid {
    padding: 0;
    margin: 0;
}

.left-nav {
    background-color: #50646f;
    width: 220px;
    --webkit-transition: width .3s;
    transition: width .3s;
    float: left;
}

.left-nav *,
.left-nav a {
    color: #f9fbf8;
}

.profile-part {
    width: 100%;
    padding: 20px 30px;
    border-bottom: solid 1px #909090;
    position: relative;
    cursor: pointer;
}

.profile-part ul:not(.profile-info--nav) {
    margin: 0;
    padding: 0;
}

.profile-part li {
    list-style: none;
    font-size: 14px;
}

.profile-part > img {
    margin-bottom: 10px;
}

.profile-info--toggle-nav {
    font-size: 13px !important;
}

.profile-info--toggle-nav > i {
    float: right;
    font-size: 10px;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.profile-part-active .profile-info--toggle-nav > i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.profile-info--nav *,
.profile-info--nav a {
    color: #50646f;
    font-size: 12px;
}

.profile-info--nav a {
    display: block;
    padding: 5px 10px;
}

.profile-info--nav i {
    width: 17px;
}

ul.profile-info--nav {
    visibility: hidden;
    background-color: #f9fbf8;
    padding: 13px 3px !important;
    position: absolute;
    opacity: 0;
    border-radius: 3px;
    left: 15px;
    right: 15px;
    margin-top: -5px;
    -webkit-transition: opacity .3s, margin-top .3s, visibility .3s; /* Safari prior 6.1 */
    transition: opacity .3s, margin-top .3s, visibility .3s;
}

.left-nav-part > ul > li {
    list-style: none;
}

.left-nav-part > ul > li i {
    width: 20px;
}

.left-nav-part > ul {
    margin: 0;
    padding: 0;
}

.left-nav-part {
    padding: 15px 5px;
}

.left-nav-part > ul > li > a {
    padding: 5px 35px 5px 20px;
}

.left-nav-part .jo-collapse-icon {
    width: auto;
    position: absolute;
    right: 10px;
    top: 9px;
}

.left-nav-part .jo-link {
    position: relative;
}

.profile-part-active ul.profile-info--nav {
    visibility: visible;
    margin-top: 0;
    opacity: 1;
}

main .header {
    height: 39px;
    position: fixed;
    top: 0;
    left: 220px;
    right: 0;
    box-shadow: 0 0 5px -2px #5eb358;
    border-left: solid 3px #5eb358;
    background-color: #f9fbf8;
}

.header *, .header a {
    color: #555;
    font-size: 13px;
}

.left-menu-toggle {
    background-color: #f9fbf8;
    border: none;
    padding: 7px 15px;
    font-size: 17px !important;
    cursor: pointer;
    outline: none !important;
}

.left-menu-toggle:hover,.top-nav-part a:hover {
    background-color: #efefef;
}

.left-menu-toggle:active,.top-nav-part a:active {
    background-color: #d0d0d0;
}

main {
    background-color: #f9fbf8;
    margin-left: 220px;
    border-left: solid 3px #5eb358;
    min-height: 600px;
}

.mini-left-menu main .header {
    left: 50px;
    --webkit-transition: left .3s;
    transition: left .3s;
}

.mini-left-menu .left-nav {
    width: 50px;
}

.mini-left-menu main {
    margin-left: 50px;
    -webkit-transition: margin-left .3s;
    transition: margin-left .3s;
}

.mini-left-menu .primary-menu-label {
    display: none;
}

.mini-left-menu .left-nav-part > ul > li > a > i {
    font-size: 25px;
    width: 100%;
}

.mini-left-menu .left-nav-part > ul > li > a {
    padding: 10px 0;
    text-align: center;
}

.mini-left-menu .left-nav-part > ul > li > a > i.jo-collapse-icon {
    display: none;
}

.mini-left-menu .left-nav-part {
    padding: 15px 0;
}

.mini-left-menu .left-nav-part > ul > li {
    position: relative;
}

.left-nav-part > ul > li > .jo-submenu {
    left: 220px;
    transition: left .3s;
}

.mini-left-menu .left-nav-part > ul > li > .jo-submenu {
    position: absolute;
    left: 50px;
    top: 0;
    width: 175px;
    border: solid 1px #5eb358;
}

.mini-left-menu .left-nav-part > ul > li > .jo-link {
    border-right: solid 2px #5eb358;
}

.mini-left-menu .left-nav-part > ul > li > .jo-link i:first-child {
    margin-right: -3px;
}

.mini-left-menu .jo-menu > ul > li > ul > li:first-child {
    border: none;
}

.mini-left-menu .left-nav-part > ul > li > .jo-link--active {
    background-color: #5eb358;
}

.mini-left-menu .profile-part {
    padding: 15px 0;
    position: relative;
}

.mini-left-menu .profile-part > img {
    width: 40px;
    display: block;
    margin: auto;
    cursor: pointer;
}

.mini-left-menu .profile-info {
    position: absolute;
    background-color: #f9fbf8;
    width: 177px;
    border: solid 1px #5eb358;
    padding: 15px 10px !important;
    top: 60px;
    z-index: 100;
    border-top-width: 3px;
    visibility: hidden;
    opacity: 0;
}

.mini-left-menu .profile-info--toggle-nav > i {
    display: none;
}

.mini-left-menu .profile-info--nav {
    visibility: inherit;
    opacity: inherit;
    background-color: inherit;
    position: inherit;
    margin-top: 15px !important;
    border-top: solid 1px #50646f;
    border-radius: 0;
    padding-bottom: 0 !important;
    margin-left: -10px;
    transition: inherit;
}

.mini-left-menu .profile-part-active .profile-info {
    visibility: visible;
    opacity: 1;
    top: 65px;
}

.mini-left-menu .profile-info a, .mini-left-menu .profile-info * {
    color: #50646f;
}

.mini-left-menu .profile-info--nav a {
    padding: 4px 5px !important;
}

.mini-left-menu .profile-info > li {
    padding-left: 10px !important;
}

.top-nav-part {
    float: right;
    margin: 0;
    padding: 0;
}

.top-nav-part li {
    list-style: none;
    display: inline-block;
}

.top-nav-part a {
    text-decoration: none;
    padding: 10px;
    display: block;
    margin: 0 10px;
}
